<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.text_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :visibility_id %><br>
    <%= f.text_field :visibility_id %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.number_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label :deleted_by %><br>
    <%= f.number_field :deleted_by %>
  </div>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.number_field :parent %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.number_field :owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
