%p#notice= notice
%h1 Listing Articles
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Status
      %th Visibility
      %th Created by
      %th Updated by
      %th Deleted by
      %th Folder
      %th Template
      %th{:colspan => "3"}
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.description
        %td= article.status
        %td= article.visibility
        %td= article.created_by
        %td= article.updated_by
        %td= article.deleted_by
        %td= article.folder
        %td= article.template
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Article', new_article_path
