= form_for(@section) do |f|
  - if @section.errors.any?
    #error_explanation
      %h2
        = pluralize(@section.errors.count, "error")
        prohibited this section from being saved:
      %ul
        - @section.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .field
    = f.label :status_id
    %br/
    = f.text_field :status_id
  .field
    = f.label :visibility_id
    %br/
    = f.text_field :visibility_id
  .field
    = f.label :created_by
    %br/
    = f.number_field :created_by
  .field
    = f.label :updated_by
    %br/
    = f.number_field :updated_by
  .field
    = f.label :deleted_by
    %br/
    = f.number_field :deleted_by
  .field
    = f.label :article_id
    %br/
    = f.text_field :article_id
  .field
    = f.label :order
    %br/
    = f.number_field :order
  .actions
    = f.submit
