#tabcordion.tabcordion
  %h3.tabcord-title{"data-hname" => "tab1"} Logo
  .tabcord-disp
    .upload_logo
      = form_for [document, document.logo_file] do |f|
        %h5 Upload Logo
        .upload_border_box
          = f.file_field :content, :style => "display:none", :onchange => "Handlechange();"
          %input#filename{:readonly => "true", :type => "text", :value => document_file_label(document.logo_file)}
          %input#fakeBrowse{:onclick => "HandleBrowseClick();", :type => "button", :value => "choose file"}
        =f.submit
  %h3.tabcord-title{"data-hname" => "tab2"} Fonts
  .tabcord-disp
    .fonts_tab
      = form_for document do |f|
        = render :partial => "font_selector", :locals => {form: f, document: document}
        = f.submit

.lool_feel_cs_btn
  %a{:href => "#"} Cancel
  %a{:href => "#"} Save Setting

:javascript
  function HandleBrowseClick() {
    var fileinput = document.getElementById("document_file_content");
    fileinput.click();
  }
  
  function Handlechange() {
    var fileinput = document.getElementById("document_file_content");
    var textinput = document.getElementById("filename");
    var filename = $(fileinput).val().split('\\').pop();
    textinput.value = filename;
  }

  function setTextColor(picker) {
    document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()
  }