:css
  .dub-section-content {
    font-family: "#{h(@document.style['font_name'])}";
    color: #{h(@document.style['font_color'])};
    font-size: #{h(@document.style['font_size'])}pt;
  }

  .dub-document-title {
    font-family: "#{h(@document.style['document_font_name'])}";
    color: #{h(@document.style['document_font_color'])};
    font-size: #{h(@document.style['document_font_size'])}pt;
  }

  .dub-section-title {
    font-family: "#{h(@document.style['section_font_name'])}";
    color: #{h(@document.style['section_font_color'])};
    font-size: #{h(@document.style['section_font_size'])}pt;
  }


.dub-document-content
  - logo_width = @document.logo_file.dimensions[0]
  - logo_height = @document.logo_file.dimensions[1]
  =image_tag(document_file_path(@document.logo_file), :style => "width: #{h(logo_width)}; height: #{h(logo_height)}") if @document.logo_file.persisted?
  %h1.dub-document-title=@document.title
  - @document.sections.each do |section|
    .dub-section
      %h2.dub-section-title=h(section.title)
      .dub-section-content
        =sanitize section.content unless section.content.blank?