- content_for :inside_page_name do
  - if @document.errors.any?
    #error_explanation
      %h2
        = pluralize(@document.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message

  = form_for @document, :html => {:id => "document_properties_form"} do |f|
    .row
      .col-lg-6
        %h1
          %label.editable=@document.title
          =f.text_field :title, class: "editable editable_name"
        %span.institution
          %label.editable=@document.institution
          =f.text_field :institution, class: "editable editable_name"
      .col-lg-6
        %span.status
          .progres_btn=@document.status.name
        %span.description
          About
          %hr
          %label.editable=@document.description
          =f.text_area :description, class: "editable editable_name"
    .row
      .col-lg-12
        %a.edit_tag.edit.editable{:href => "#"} Edit
        =link_to "Save", "#", id: "save_document", class: "edit_tag edit editable hidden_form_btn"
        %a.edit_tag.edit.editable.hidden_form_btn{:href => "#"} Cancel


%section.section_wrapper
  .doc_features
    %a.active{:href => "#"}
      %i.fa.fa-file>
      Document
    %a{:href => "#"}
      %i.fa.fa-share-alt{"aria-hidden" => "true"}>
      Share Document
    %a{:href => "#"}
      %i.fa.fa-heart>
      Look &amp; Feel
  .document_detail
    .doc_row
      %a.cng_option{:href => "#"}
        %i.fa.fa-cog.lft_space>
        Configuration Options
      %a.prv_doc{:href => "#"} Preview Document
    #accordion.content_topics
      .ct_tital Content Topics
      - @document.sections.each do |section|
        = render partial: "sections/edit_panel", locals: {section: section}

      .box_panel
        .content_edit.actions
          = render :partial => "actions", :locals => {:document => @document}

  
:javascript
  $(document).ready(function(){
  $('a.edit-link').on('click', function(e){
    e.preventDefault();
    var $parent = $(this).closest('div'); 
    $parent.find('.editForm').show();
    $parent.find('a.cancel').show();
    $(this).hide();
  });
  
  
  $('a.cancel').on('click', function(e){
    e.preventDefault();
    var $parent = $(this).closest('div'); 
    $parent.find('.editForm').hide();
    $parent.find('a.edit-link').show();
    $(this).hide();
  });
  
    
  });
:javascript
  $(function () {
    var active = true;
    $('#collapse-init').click(function () {
      if (active) {
        active = false;
        $('.panel-collapse').collapse('show');
        $('.panel-title').attr('data-toggle', '');
        $(this).text('Enable accordion behavior');
      } else {
        active = true;
        $('.panel-collapse').collapse('hide');
        $('.panel-title').attr('data-toggle', 'collapse');
        $(this).text('Disable accordion behavior');
      }
    });
    
    $('#accordion').on('show.bs.collapse', function () {
      if (active) { $('#accordion .in').collapse('hide'); }
    });
    
  });

:javascript
  $(function () {
    $('.tital_chk').click(function(el){
      var re = new RegExp("cbxShowHide([\\d]+)");
      var match = re.exec(this.id);
      if (match !== null) {
        var checked = !($(this).attr("data-checked"));
        checked?$('#block' + match[1]).show(500):$('#block' + match[1]).hide(500);
        $(this).attr("data-checked", !checked);
      }
    });
  });

:javascript
  $(function(){
      $(".edit").click(function(){
        $(".editable").toggle();
        $(".hidden_form_btn").each(function(index, btn) {
          if ($(btn).is(":visible")) { $(btn).css('display', 'inline-block'); }  // inline -> inline-block
        });
      });

      $("a#save_document").on("click", function(event) {
        event.stopPropagation();
        event.preventDefault();
        $("input.editable, textarea.editable").each(function(index, obj) {
          $(obj).prev().text($(obj).val());
        });
        $("#document_properties_form").submit();
      });
  });
