- content_for :inside_page_name do
  - if @document.errors.any?
    #error_explanation
      %h2
        = pluralize(@document.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message

  = form_for @document, :html => {:id => "document_properties_form"} do |f|
    .row
      .col-lg-6
        %h1
          %label.editable=@document.title
          =f.text_field :title, class: "editable editable_name"
        %span.institution
          %label.editable=@document.institution
          =f.text_field :institution, class: "editable editable_name"
      .col-lg-6
        %span.status
          .progres_btn=@document.status.name
        %div.description
          %span.title Description: 
          %label.editable=@document.description
          =f.text_area :description, class: "editable editable_name"
        %div.template
          %span.title Template:
          =@document.template.title
    .row
      .col-lg-12
        %a.edit_tag.edit.editable{:href => "#"} Edit
        =link_to "Save", "#", id: "save_document", class: "edit_tag edit editable hidden_form_btn"
        %a.edit_tag.edit.editable.hidden_form_btn{:href => "#"} Cancel


%section.section_wrapper
  .doc_features
    %a.active{:href => "#", :id => "document_sections"}
      %i.fa.fa-file>
      Document
    %a{:href => "#", :id => "look_feel_tab"}
      %i.fa.fa-heart>
      Look &amp; Feel
    %a{:href => "#", :id => "infobutton_context"}
      %i.fa.fa-info-circle{"aria-hidden" => "true"}
      Global Context
    %a{:href => "#", :id => "preview_document"}
      %i.fa.fa-search{"aria-hidden" => "true"}
      Preview Document
    %a{:href => "#", :id => "deploy_document"}
      %i.fa.fa-download{"aria-hidden" => "true"}
      Deploy
  .document_detail
    .accordion.content_topics.document_sections
      .ct_tital
        %span Content Topics
        %a#add_section{:href => "#"} Add Section
      - @document.sections.each do |section|
        = render partial: "sections/edit_panel", locals: {section: section}
      .box_panel
        .content_edit.actions
          = render :partial => "actions", :locals => {:document => @document}
    .accordion.content_topics.look_feel_tab
      = render partial: "look_and_feel", locals: {document: @document}
    .accordion.content_topics.infobutton_context
      = render partial: "infobutton_context", locals: {document: @document}
    .accordion.content_topics.preview_document
      .loading
        %span.spinner
          %i.fa.fa-spinner.fa-spin{"aria-hidden" => true}
      .content
    .accordion.content_topics.deploy_document


%div#dialog{title: "DocUBuild"}
  #content


:javascript
  $(function(){
    // Instead of using the tinymce-rails include, we provide a custom initialization of TinyMCE so we can
    // specify an editor change event handler.  This keeps changes in TinyMCE consistent with the form
    // field that is submitted.
    tinymce.init({
      selector: "textarea.tinymce",
      toolbar: ["styleselect | bold italic underline link | bullist numlist | undo redo"],
      plugins: "link,table,lists",
      menubar: "edit format table",
      setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
      }
    });

    $(".section_description").tooltip({
      tooltipClass: "dub-tooltip",
      hide: {
        effect: "slideDown",
        delay: 60000
      }
    });

    $('#tabcordion').tabcordion();

    $("#look_feel_tab, #document_sections, #infobutton_context, #preview_document, #deploy_document").on("click", function(event) {
      event.stopPropagation();
      event.preventDefault();

      $(".document_sections").hide();
      $(".look_feel_tab").hide();
      $(".infobutton_context").hide();
      $(".preview_document").hide();
      $(".deploy_document").hide();
      $("#document_sections").removeClass("active");
      $("#look_feel_tab").removeClass("active");
      $("#infobutton_context").removeClass("active");
      $("#preview_document").removeClass("active");
      $("#deploy_document").removeClass("active");

      $(event.target).addClass("active");
      $("." + event.target.id).show();
    });

    $("#preview_document").on("click", function(e) {
      $.get("#{preview_document_path(@document)}", function(data) {
        $(".preview_document .loading").hide();
        $(".preview_document .content").html(data).show();
      });
    });

    $("#document_sections").click();

    $("a#add_section").on("click", function(event) {
      event.stopPropagation();
      event.preventDefault();
      $.get( "#{template_sections_document_path(@document, :missing_only => true)}")
        .done(function( data ) {
          $("#dialog").dialog({ 
            width: 600,
            modal: true,
            title: 'Add Sections',
            buttons: [
              {
                text: 'OK', class: 'acceptButton',
                click: function() {}
              },
              {
                text: 'Cancel',
                click: function() { $(this).dialog("close"); }
              }
            ]});
          $("#dialog #content").html( data );
        })
        .fail(function(err) {
          alert("Error");
        });
    });

    $("a.import_section").on("click", function(event) {
      event.stopPropagation();
      event.preventDefault();

      var editor = tinymce.get($(this).closest(".form-group").find("textarea").attr('id'));
      $.get( "#{import_sections_document_path(@document)}")
        .done(function( data ) {
          $("#dialog").dialog({ 
            width: 1000,
            modal: true,
            title: 'Import Sections',
            beforeClose: function(event, ui) {
              if ($(this).attr('data-section-action') === "copy") {
                editor.setContent(editor.getContent() + "\r\n" + $(this).attr('data-section-content'));
              }
              else if ($(this).attr('data-section-action') === "replace") {
                editor.setContent($(this).attr('data-section-content'));
              }
            } 
          });
          $("#dialog #content").html( data );
        })
        .fail(function(err) {
          alert("Error");
        });
    });
  });