:css
  .dub-section-content {
    font-family: "#{h(@document.style['font_name'])}" !important;
    color: #{h(@document.style['font_color'])} !important;
    font-size: #{h(@document.style['font_size'])}pt !important;
  }

  .dub-document-title {
    font-family: "#{h(@document.style['document_font_name'])}" !important;
    color: #{h(@document.style['document_font_color'])} !important;
    font-size: #{h(@document.style['document_font_size'])}pt !important;
  }

  .dub-section-title {
    font-family: "#{h(@document.style['section_font_name'])}" !important;
    color: #{h(@document.style['section_font_color'])} !important;
    font-size: #{h(@document.style['section_font_size'])}pt !important;
  }

.public_header.public_document_nav
  = link_to "< Back to document list", public_documents_path


.dub-document-content
  - logo_width = @document.logo_file.dimensions[0]
  - logo_height = @document.logo_file.dimensions[1]
  =image_tag(public_document_file_path(@document.logo_file), :style => "width: #{h(logo_width)}; height: #{h(logo_height)}") if @document.logo_file.persisted?
  %h1.dub-document-title=@document.title
  #dub-sections
    - @document.sections.each do |section|
      = render partial: "sections/preview", locals: {section: section, collapsable: @document.is_collapsable_display?}


- if @document.is_collapsable_display?
  :javascript
    $(function() {
      $("#dub-sections").togglepanels();
    });